.repo-des-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.user-avatar {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.repo-des-des-container {
    display: flex;
    align-self: flex-start;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.repo-name {
    font-size: 36px;
}

.repo-des-about {
    font-size: 14px;
}